/* page footer style and placement */

.footer-text {
  display: flex;
  color: #545149;
  height: 5rem;
  padding-bottom: 1rem;
  justify-content: center;
  align-items: flex-end;
  font-size: medium;
  bottom: 0;
  width: 100%;
}