
/* profile picture, name and background */
.profile {
    display: flex;
    margin-top: 6rem;
    height: 15em;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #FFFFFF;
    background-color: #F2C641;
    background-image: url("../images/profile-background.png");
}

.profile > #picture {
    padding-bottom: 1em;
}

