 
 /* nav bar with logo and tweet-prompt */
 nav {
  font-family: Bungee, sans-serif;
  background-color: #4056A1;
  color: #FFFFFF;
  height: 120px;
  display: flex;
  padding: 1.5em;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 150%;
 }

 /* tweet-prompt and arrows */
 .new-tweet-prompt {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  font-family: Source Sans Pro;
  font-size: 50%;
 }

 .new-tweet-prompt-arrows {
   padding-top: 0.3em
 }