.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#tweet-container {
  width: 100%;
}

.article-tweet {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 30px;
  outline: solid;
  font-size: medium;
  padding: 1em;
}

.article-tweet:hover {
  box-shadow: 10px 10px #BBC5F2;
}

.article-tweet-header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  font-size: large;
}

.tweet-profile {
  display: flex;
  align-items: center;
}

.tweet-profile-name {
  padding-left: 0.75em;
}

.article-tweet:hover .tweet-handle {
  color: #BBC5F2;
  font-weight: 700;
  visibility: visible;
}

.tweet-content {
  display: flex;
  width: 100%;
  height: 60px;
  border-bottom: solid;
  font-weight: 700;
}

.tweet-content p {
  margin: 15px 0px 0px 10px;
}

.article-tweet-footer {
  display: flex;
  width: 95%;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 0.4em;
}

.tweet-date {
  font-size: x-small;
}

.tweet-icons {
  display: flex;
  justify-content: space-around;
  padding-left: 0.1em;
}

.tweet-icons img {
  margin: 0 7px 0 0;
}